{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class='mx-5 my-5'>
    <div class='my-3 d-flex justify-content-center'>
      <h1>
        강의 관리 시스템
      </h1>
    </div>
    <div class='d-flex justify-content-end'>
      <a href="{% url 'lectures:create' %}">
        <button class="btn btn-ligth border-secondary rounded">강의 개설</button>
      </a>
    </div>
    <div>
      <div>
        <hr>
        {% for lecture in lectures %}
          <h5>
            <a href="{% url 'lectures:detail' lecture.pk %}" class="text-decoration-none text-black">
              {{ lecture.title }}
            </a>
          </h5>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}